{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1>{{question.subject}}</h1>
<div>
    {{question.content}}
</div>

<h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_set.all %}
        <li>{{answer.content}}</li>
        {% endfor %}
    </ul>
</div>

<form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% comment %}
    csrf_token: 실제로 웹 브라우저에서 작성된 데이터인지 판단하는 검사기 역할 => form태그 밑에 항상 입력해야함 !
    - csrf_token은 Django 기본 기능이긴 하나 CrsfViewMiddleware라는 미들웨어를 추가해야 함
    => 장고 프로젝트 생성시 자동으로 config/settings.py 파일의 MIDDLEWARE라는 항목에 추가됨
    {% endcomment %}
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>